* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ddd;
    position: relative;
}


/* --------------------------- Game field  --------------------------- */
.title {
    padding: 20px 0 0 0;
    font-size: 30px;
    text-align: center;
}

.game {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.area {
    width: 25vw;
    height: 25vw ;
    background-color: #555;
}
 @media(max-width: 1024px) {
    .area    {
        width: 35vw;
        height: 35vw;
    }
}

.table {
    height: 100%;
    width: 100%;
    border: 2px solid #555;
    box-shadow: 2px 2px 30px 5px rgba(0, 0, 0, 0.5);
}

.row {
    width: 100%;
}

.cell {
    border: 1px solid transparent;
    transition: all .2s ease;
    cursor: pointer;
}

.cell:hover {
    transform: scale(1.1);
}

/* --------------------------- Game options  --------------------------- */
.gameOptions {
    display: flex;
    flex-flow: column wrap;
    margin: 30px 0;
}
.gameOptionsElement {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}

.gameOptionsLabel {
    display: block;
    width: 200px;
    margin: 20px 0 0 0;
    text-transform: uppercase;
}

.gameOptionsInput {
    border: none;
    padding: 10px;
}

.gameButton {
    border: none;
    padding: 10px 0;
    cursor: pointer;
}

.gameOptionsStart {
    width: 100%;
    background-color: #fff;
    margin: 20px 0;
}

.gameOptionsAI {
    background-color: #fff;
}

.errorsList {
    list-style: none;
    align-self: flex-end;
    margin: 10px 0;
}
.errorsListItem {
    color: #f00;
}

/* --------------------------- Game controls  --------------------------- */
.gameControls {
    max-width: 40vw;
}

.gameControlsList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    list-style: none;
}

.gameControlsElement {
    display: inline-block;
    width: 80px;
    height: 25px;
    margin: 10px;
    cursor: pointer;
    transition: all .3s linear;
}

.gameControlsElement:hover {
    transform: scale(1.2);
}

/* --------------------------- Banner  --------------------------- */
.banerWrapper {
    display: none;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(85, 85, 85, 0.5);
}
.baner {
    position: relative;


    width: 25vw;
    padding: 20px;
    background-color: #ddd;
}
.banerClose {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;

    text-align: center;

    color: #fff;
    background-color: #000;
    cursor: pointer;
}
.baner.error {
    border: 2px solid #f00;
}
.baner.success {
    border: 2px solid #0f0;
}
.banerTitle {
    text-align: center;
    margin-bottom: 10px;
}
.banerText {
    margin: 0 20px;
    text-align: center;
}
