* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ddd;
}


/* --------------------------- Game field  --------------------------- */
.title {
    font-size: 30px;
    text-align: center;
}

.game {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.area {
    width: 40vw;
    height: 40vw ;
    background-color: #555;
}

.table {
    height: 100%;
    width: 100%;
    border: 2px solid #555;
    box-shadow: 2px 2px 30px 5px rgba(0, 0, 0, 0.5);
}

.row {
    width: 100%;
}

.cell {
    border: 1px solid transparent;
    transition: all .2s ease;
    cursor: pointer;
}

.cell:hover {
    transform: scale(1.1);
}

/* --------------------------- Game options  --------------------------- */
.gameOptions {
    display: flex;
    flex-flow: column wrap;
    margin: 50px 0;
}
.gameOptionsElement {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}

.gameOptionsElementLabel {
    display: block;
    width: 200px;
    margin: 20px 0 0 0;
    text-transform: uppercase;
}

.gameOptionsElementInput {
    border: none;
    padding: 10px;
}

.gameOptionsStart {
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    border: none;
    margin: 20px 0;
}

/* --------------------------- Game controls  --------------------------- */
.gameControls {
    max-width: 40vw;
}

.gameControlsList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    list-style: none;
}

.gameControlsElement {
    display: inline-block;
    width: 80px;
    height: 25px;
    margin: 10px;
    cursor: pointer;
    transition: all .3s linear;
}

.gameControlsElement:hover {
    transform: scale(1.2);
}
