.modal {
  &-wrapper {
    display: none;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(85, 85, 85, 0.5);
  }

  position: relative;
  width: 25vw;
  padding: 20px;
  background-color: #ddd;

  &-title {
    text-align: center;
    margin-bottom: 10px;
  }

  &-text {
    margin: 0 20px;
    text-align: center;
  }

  &-close {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background-color: #000;
    cursor: pointer;
  }

  &__error {
    border: 2px solid #f00;
  }

  &__success {
    border: 2px solid #0f0;
  }

}
