.title {
  padding: 20px 0 0 0;
  font-size: 30px;
  text-align: center;
}

.game {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.area {
  width: 25vw;
  height: 25vw ;
}

@media(max-width: 1024px) {
  .area {
    width: 35vw;
    height: 35vw;
  }
}

.table {
  height: 100%;
  width: 100%;
  border: 2px solid #555;
  box-shadow: 2px 2px 30px 5px rgba(0, 0, 0, 0.5);
}

.row {
  width: 100%;
}

.cell {
  border: 1px solid transparent;
  transition: all .2s ease;
}

.cell:hover {
  transform: scale(1.1);
}
